/* Contem algumas personalizacoes e hover dos cards */
.pagination {
  font-weight: bolder;
}

.nav-orange {
  background-color: unset !important;
  color: white
}

.page-link {
  border-color: gray!important;
}

.nav-orange:hover,
.nav-orange:focus,
.nav-button-active {
  background-color: var(--laranjinha);
  border-color: var(--laranjinha);
  box-shadow: inset 10px 10px 100px var(--laranjinha);
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: black;

}

.text-head {
  color: var(--laranjinha) !important
    /* Cor dos cabeçalhos */
}

.separador {
  height: 2px;
  background-color: gray;
  opacity: 20%;
}

.pointer {
  cursor: pointer;
}


a:hover img.filter,
a:hover img.img-card-size {
  transition: all 0.3s;
  filter: brightness(0.3) blur(5px);
}

a:not(:hover) img.filter,
a:not(:hover) img.img-card-size {
  transition: all 0.3s;
  filter: brightness(1) blur(0px);
}

a span.only-show-on-hover {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:hover span.only-show-on-hover {
  visibility: visible;
}


@media (max-width: 767px) {
  .separador {
    margin-bottom: 1rem;
  }

  .filter {
    height: 15rem;
  }

  .responsive {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .filter {
    max-width: 196px;
  }
}
