<nav id="search" class="navbar fixed-top navbar-expand-lg py-0 navbar-site">
  <div class="py-0 d-flex m-auto align-items-center row">
    <a class="navbar-brand pb-0" [routerLink]="['/']" href="#search">
      <p class="text-white">
        Home<span class="text-warning">Animes</span>
      </p>
    </a>
    <div class="top-0 end-0 position-absolute w-auto h-75 mt-1 me-4">
      <img class="me-1 h-75 pointer" alt="Brazil flag" value="pt" src="../../../../assets/images/header/br-flag.png" (click)="changeLang('pt')">
      <img class="me-1 h-75 pointer" alt="USA flag" value="en" src="../../../../assets/images/header/usa-flag.png" (click)="changeLang('en')">
    </div>
  </div>
  
  <div class="top-nav-arrow"></div>
</nav>
