<section class="mb-4">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-4">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body text-center">

            <form [formGroup]="registerForm" (ngSubmit)="createUser()">

              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>

              <div>

                  <div class="form-outline form-white mb-4 d-flex flex-column align-items-center">
                      <label class="form-label" for="firstName">First Name</label>
                      <input type="text" id="firstName" required class="form-control form-control-sm w-75"
                      formControlName="firstName" />
                    </div>
                  <div class="form-outline form-white mb-4 d-flex flex-column align-items-center">
                      <label class="form-label" for="lastName">Last Name</label>
                      <input type="text" id="lastName" required class="form-control form-control-sm w-75"
                      formControlName="lastName" />
                    </div>
                </div>
                <div class="form-outline form-white mb-4 d-flex flex-column align-items-center">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" required class="form-control form-control-sm w-75"
                    formControlName="username" />
                  </div>
              <div class="form-outline form-white mb-4 d-flex flex-column align-items-center">
                <label class="form-label" for="email">Email</label>
                <input type="email" id="email" required class="form-control form-control-sm w-75"
                  formControlName="email" />
              </div>

              <div class="form-outline form-white mb-4 d-flex flex-column align-items-center">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" class="form-control form-control-sm w-75"
                  formControlName="password" />
              </div>
              <div class="form-outline form-white mb-4 d-flex flex-column align-items-center">
                <label class="form-label" for="repeatPassword">Enter Password Again</label>
                <input type="password" id="repeatPassword" class="form-control form-control-sm w-75"
                  formControlName="repeatPassword" />
              </div>


              <button class="btn btn-outline-light nav-orange btn-md px-5 fw-bold" type="submit"
                [disabled]="!registerForm.valid">Register</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
