.pointer {
    cursor:pointer;
    transition: 0.3s;
}

.pointer:hover {
    filter: invert();
    /* color: white; */
}

.rounded {
    box-shadow: 0px 10px 20px #812c52;
    color: rgba(250, 250, 250, 0.8);
  }

  .btn {
    border: 1px solid #dd2476;
  border-image-slice: 1;
  /* background: var(--gradient) !important; */
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: white !important;
  /* border-color: var(--gradient) !important; */
  text-decoration: none;
  transition: all .2s ease;
}


.btn:hover,
.btn:focus {
  box-shadow: inset 10px 10px 100px #dd2476;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  /* box-shadow: #222 1px 0 10px; */

}
