.btn {
  border: 1px solid var(--laranjinha);
  border-image-slice: 1;
  /* background: var(--gradient) !important; */
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: white !important;
  /* border-color: var(--gradient) !important; */
  text-decoration: none;
  transition: all .2s ease;
}

.switch-title {
  border: none;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: white !important;
  text-decoration: none;
  transition: all .2s ease;
}

.btn:hover,
.btn:focus {
  box-shadow: inset 10px 10px 100px var(--laranjinha);
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: black !important;
  /* box-shadow: #222 1px 0 10px; */
}
