.btn {
  border: 1px solid var(--laranjinha);
  border-image-slice: 1;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: white !important;
  text-decoration: none;
  transition: all .2s ease;
}

.switch-title {
  border: none;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: white !important;
  text-decoration: none;
  transition: all .2s ease;
  margin-top: -40px;
}

.btn:hover,
.btn:focus {
  box-shadow: inset 10px 10px 100px var(--laranjinha);
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: black !important;
}

.zoom img {
  transition: transform .2s ease-in-out;
}

.zoom:hover img {
  transform: scale(1.02);
}

@media (max-width:768px) {
  .switch-title {
    margin-top: 0px;
  }
}
