<!-- left panel-->
<div class="d-md-flex align-items-start justify-content-center container">
  <div class="flex-column col-md-4 justify-content-center text-center ">
    <img [src]="singleAnime.images.jpg.large_image_url" class="rounded mb-4" width="80%" [alt]="singleAnime.title">
    <p>Classificação: {{singleAnime.rating}}</p>
  </div>

  <div class="d-flex flex-column align-items-stretch text-sm-start">
    <section class="d-flex flex-wrap row ">
      <span class="fs-1 text-warning col-12 text-center">{{singleAnime.title}}</span>
      <span class="text-muted fs-6 col-3 pe-4">Status: <p>{{singleAnime.status}}</p></span>
      <span class="text-muted fs-6 col-3 pe-4">Episódios: <p>{{singleAnime.episodes}}</p></span>
      <span class="text-muted fs-6 col-3 pe-4">Ano: <p>{{singleAnime.year}}</p></span>
      <span class="text-muted fs-6 col-3 pe-4">Estúdio: <p >{{singleAnime.studios[0].name}}</p></span>
      <a [href]="singleAnime.trailer.url" class="btn text-decoration-none text-white ms-2 mb-2 w-auto"><i class="fa fa-video-camera me-1" aria-hidden="true"></i>Assistir Trailer</a>
    </section>
    <span class="text-muted fs-6">Synopsis:</span>
    <p class="text-white overflow-auto">{{singleAnime.synopsis}}</p>

  </div>

</div>
