<!-- Inicio placeholder -->
<section class="container mt-2 ">

  <div class="row d-flex align-items-center flex-wrap responsive">
    <p *ngIf="placeholder" class="fs-1 col-md-auto pe-0 me-3 text-head">
      Loading...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p *ngIf="!this.placeholder" class="fs-1 col-md-auto pe-0 me-3 text-center text-head">
      <span [innerHTML]="labelCarousel"></span>
    </p>
    <span class="col-md separador"></span>
  </div>
</section>


<div *ngIf="placeholder">

  <ngx-skeleton-loader class="m-auto d-flex justify-content-center flex-wrap" animation="progress" count="5" [theme]="{ 
      'height.px': 318,
      'width.px': 218,
      'background-color': 'gray',
      'margin-right.px' : 10,
      'border-radius.px': 10
    }"></ngx-skeleton-loader>
</div>
<!-- Fim placeholder -->

<div class="container">

  <owl-carousel-o *ngIf="!placeholder" [options]="customOptions" class="col-md-auto d-md-flex">
    <ng-container *ngFor="let anime of animeList">
      <ng-template carouselSlide>
        <a [routerLink]="['/anime', anime.mal_id]">
          <img class="filter" [src]="anime.images.webp.large_image_url" [alt]="anime.title" [title]="anime.title" />
          <span class="only-show-on-hover fs-6 w-100 text-center">{{anime.title_english || anime.title}}</span>
        </a>
      </ng-template>
    </ng-container>


  </owl-carousel-o>

  <section *ngIf="separador" class="row">
    <span class="col-md separador my-4"></span>
  </section>
</div>
