<section class="container">
    <div class="row d-flex align-items-center">
        <span class="fs-1 col-md-4">
            Animes em exibição
        </span>
        <span class="col-md separador"></span>

    <owl-carousel-o [options]="customOptions" class="d-md-flex justify-content-between">
        <ng-container *ngFor="let anime of seasonAnimes">
            <ng-template carouselSlide>
                <a [routerLink]="['/anime', anime.mal_id]" >
                    <img class="pointer rounded" [src]="anime.images.jpg.large_image_url" [alt]="anime.title" [title]="anime.title" style="padding:5px;"/>

                </a>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    <span class="col-md separador mb-4"></span>
</div>
</section>

