/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';


* {
    font-family: monospace, monospace;
    color: white;
}
body {
    background-color: #1f232e;
}


.separador {
    height: 2px;
    background-color: gray;
    opacity: 20%;
    
  }

  @media (max-width: 600px) {
    .separador {
        margin-bottom: 1rem;
    }
  }