/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import './assets/css/auxiliar/styles.css';
@import './assets/css/owl/owl.carousel.sideNavArrows.css';
@import './assets/css/owl/owl.carousel.fixSizes.css';

:root {
  --laranjinha: #ffc107;
}

* {
  font-family: Neo Sans,sans-serif;
  color: white;
}

body {
  background-color: #1f232e;
  padding-top: 80px;
}

.text-color-skin {
  color: var(--laranjinha)
}
