/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';


* {
  font-family: monospace, monospace;
  color: white;
}

body {
  background-color: #1f232e;
  padding-top: 80px;
}


.separador {
  height: 2px;
  background-color: gray;
  opacity: 20%;

}

@media (max-width: 767px) {
  .separador {
    margin-bottom: 1rem;
  }
}

.owl-prev,
.owl-next {
  width: auto;
  /* height: 100px; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
}

.owl-theme .owl-nav [class*=owl-] {
    background: none!important;

}
.owl-prev {
  left: -30px;
}

.owl-next {
  right: -30px;
}

.owl-prev i,
.owl-next i {
  transform: scale(3);
}
