<footer class="footer text-center text-white mt-auto" style="background-color: rgba(0, 0, 0, 0.32)">
    <div class="container py-4">
      <section class="m-auto">
      <!-- Facebook -->
      <a class="btn btn-floating m-1" style="background-color: #3b5998;" alt="Facebook" href="https://www.facebook.com/pedrosome/" role="button"><i
          class="fa fa-facebook-f"></i></a>
      <!-- Instagram -->
      <a class="btn btn-floating m-1" style="background-color: #ac2bac;" alt="Instagram" href="https://www.instagram.com/raydrics/" role="button"><i
          class="fa fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-floating m-1" style="background-color: #0082ca;" alt="Linkedin" href="https://www.linkedin.com/in/pedro-freitas-6828a688/" role="button"><i
          class="fa fa-linkedin"></i></a>
      <!-- Github -->
      <a class="btn btn-floating m-1" style="background-color: #333333;" alt="Github" href="https://github.com/phfreitasf" role="button"><i
          class="fa fa-github"></i></a>
    </section>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.32);">
    © 2022
    <span class="text-white text-decoration-none">Pedro</span>
  </div>
  <!-- Copyright -->
</footer>
